.landing {
    height: 100vh;
    width: 100vw;    
    background-image: url(https://img.freepik.com/psd-gratis/retrato-grupo-adorables-cachorros_53876-73962.jpg?w=2000);
    background-size: 100%;
}
.button {
    position: relative;
    top: 26vw;
   
    background-repeat:no-repeat;
    background-color: transparent;
    height: 17vh;
    width: 17vw;
    background-size: cover;
    background-position:center;
    border: none; 
}